* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

header {
  margin: 0 9rem;
  padding: 0.5rem 0;
}

nav #logo{
  width: 13rem;
  padding: 0.8rem 2rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

#container h1 {
  color: white;
  font-size: 2rem;
}

#container-profiles {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.profiles img {
  width: 10rem;
  height: 10rem;
  border-radius: 0.2rem;
  object-fit: cover;
  border: 1px solid transparent;
  transition: border-color 0.5s ease;
}

.profiles p {
  color: #969696;
  transition: color 0.5s ease;
}

.profiles .material-symbols-outlined {
  color: #969696;
  font-size: 5rem;
  font-weight: 600;
  padding-bottom: 2rem;
  transition: color 0.5s ease;
}

.profiles:hover img,
.profiles:hover p,
.profiles:hover .material-symbols-outlined {
  border-color: #e50914;
  color: #e50914;
}

button {
  background-color: #000000;
  color: #969696;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid #969696;
  border-radius: 0.2rem;
  padding: 0.5rem 1.4rem;
  margin-top: 1rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: border-color 0.5s ease, color 0.5s ease;
}

button:hover {
  border-color: #e50914;
  color: #e50914;
}